accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
beautifulsoup4
black
blinker
certifi
charset-normalizer
click
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
Deprecated
distro
executing
fastapi
filelock
Flask
flask-cors
Flask-SQLAlchemy
fonttools
frozenlist
fsspec
gmpy2
greenlet
groq
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib-metadata
IProgress
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
jq
jsonpatch
jsonpointer
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langsmith
lit
lxml
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mkl_fft
mkl_random
mkl-service
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
numpy
ollama
openai
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
packaging
pandas
parso
pathspec
pexpect
pillow
pip
platformdirs
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pydantic-settings
Pygments
pyparsing
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tornado
tqdm
traitlets
transformers
triton
typing_extensions
typing-inspect
tzdata
urllib3
uvicorn
wcwidth
Werkzeug
wheel
wrapt
yarl
zipp
zstandard
