<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Onerio RAG</title>
        <link rel="icon" href="../static/assets/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="../static/css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Oxygen:wght@300;400;700&display=swap"  rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="centerBox">
                <div class="cbitem"></div>
                <div class="cbitem">
                    <div class="titleBox">
                        <h1 class="mainTitle" id="projectName">Oniero RAG</h1>
                        <h1 class="gen" id="genLoad">Generating</h1>
                    </div>
                    <form id="dreamForm">
                        <div class="textarea-wrapper">
                            <textarea id="dream" name="dream" placeholder="Enter your Dream here..." rows="1" cols="70"></textarea>
                            <button type="submit" class="send-button"><img src="../static/assets/sendButton.svg" alt="Send" class="send-icon"></button>
                        </div>
                    </form>
                </div>
                <div class="cbitem"></div>
                <p id="response"></p>
                <div class="footer">
                    <p class="ftr">Made after a lot of criticism from Dhrubajyoti Mandal</p>
                </div>
            </div>
        </main>
        <script src="../static/main.js"></script>
        <script src="../static/animations.js"></script>
    </body>
</html>